[submodule "libft"]
	path = libft
	url = git@github.com:Florian-Varrin/42-libft.git
[submodule "minilibx-wrapper"]
	path = minilibx-wrapper
	url = git@github.com:Florian-Varrin/42-minilibx-wrapper.git
